.common-wrapper {
    padding-top: 70px;
    text-align: center;
}

.usee-wrapper {
    height: 100%;

    .main-wrapper {
        width: 100vw;
        min-height: calc(100% - 224px);
    }
}

.err-txt {
    color: red;
}

button {
    background-color: $useeBtnColor;
    color: $useePrimaryTextColor;
    border: none;
}