.cm-input-wrapper {
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 7px;
    border: 1px solid $useeBorderColor;
    display: flex;
    box-sizing: border-box;

    &:focus-within {
        border: 2px solid $useeDarkBorderColor;
    }

    input {
        width: 270px;
        border: none;
        border-radius: 7px;
        font-size: 13px;
        font-weight: bold; 
    }

    button {
        background-color: transparent;

        &:focus {
            outline: none;
        }

        img {
            width: 17px;
            height: 17px;
        }
    }
}