.contents-container {
    width: 100vw;
    min-height: calc(100% - 208px);

    .main-top-container {
        width: 100vw;
        height: auto;
        background-image: url('../../images/main-contents-background.png');
        background-size: contain;

        .main-form-container {
            max-width: 1020px;
            height: 300px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .main-form-text {
                font-weight: bold;
                color: $useePrimaryTextColor;
                text-align: center;
            }

            .main-input-container {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 420px;
                height: 58px;
                margin-top: 30px;
                background-color: #fff;
                border-radius: 16px;

                .main-input {
                    width: 84%;
                    height: 90%;
                    border: none;
                    border-top-left-radius: 13px;
                    border-bottom-left-radius: 13px;
                    padding-left: 10px;
                }

                .main-input-button {
                    width: 15%;
                    height: 90%;
                    border-top-right-radius: 13px;
                    border-bottom-right-radius: 13px;
                    font-weight: bold;
                }
            }
        }
    }

    .main-content-container {
        max-width: 1020px;
        margin: 0 auto;
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center;
    }


    .mobile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .mobile-description {
            font-weight: bold;
        }

        .mobile-button-container {
            margin-top: 80px;

            .mobile-button {
                display: block;
                padding: 15px 30px 15px 30px;
                margin-bottom: 20px;
                border-radius: 13px;
                font-size: 20px;
            
                .button-inner-text {
                    margin-left: 10px;
                }
            }
        }
    }

    .login-contents-container {
        height: auto;

        .login-contents-main-container  {
            h1 {
                margin-bottom: 35px; 
            }

            .login-contents-form {
                width: 300px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                .login-input-id-pwd-box {
                    width: 300px;
                    height: 40px;
                    margin-bottom: 5px;
                    border-radius: 7px;
                    border: 1px solid #CACFD2;
                    display: flex;
                    box-sizing: border-box;
        
                    &:focus-within {
                        border: 2px solid black;
                    }
        
                    .login-input-id-pwd {
                        width: 270px;
                        border: none;
                        border-radius: 7px;
                        font-size: 13px;
                        font-weight: bold;
                    }
        
                    .login-input-reset-btn {
                        background-color: transparent;
            
                        img {
                            width: 17px;
                            height: 17px;
                        }
                    }
                }
        
                .login-input-button {
                    width: 300px;
                    height: 40px;
                    font-size: 13px;
                    font-weight: bold;
                    border-radius: 7px;
                    margin-top: 8px
                }
        
                .login-state-save {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5px;
                    margin-bottom: 5px;

                    .login-state-save-msg {
                        display: flex;
                        justify-content: flex-end;
                    }

                    span {
                        color: red;
                    }
        
                    .login-state-save-switch {
                        margin-left: 5px;
                    }
                }
        
                .login-find-id-pwd {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 5px;
        
                    a {
                        text-decoration: none;
                        cursor: pointer;

                        &:hover {
                            font-weight: bold;
                        }

                        &:first-child {
                            &::after {
                                padding: 0 4px;
                                content: '/';
                            }
                        }

                        color: #333333;
                    }
                }
            }
        }

        .login-contents-container-separator {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-block: 30px;

            hr {
                width: 70vw;
            }

            .textd {
                position: relative;
                top: -15;
                background-color: white;
                padding-inline: 10px;
            }
        }

        .login-with-other-sns-msg {
            margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
            color: #333333;
        }

        .login-with-other-sns-logo {
            margin-top: 20px;

            img {
                margin: 0 20px;
                width: 35px;
                height: 35px;
            }
        }

    }
}