.footer-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 9vh;
    background-color: rgba(0, 0, 0, 0.411);

    .title {
        color: #fff;
        text-align: center;
    }
}