.footer-container {
    width: 100vw;
    height: 150px;

    .footer-menu {
        border-top: 1px solid rgb(209, 201, 201);
        border-bottom: 1px solid rgb(209, 201, 201);
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;

        ul {
            padding-left: 0;
            overflow: hidden;

            li {
                float: left;
                list-style: none;
                padding-left: 25px;
                font-size: 12px;
                &::after {
                    content: '|';
                    padding-left: 25px;
                }

                a {
                    color: #000;
                }
            }

            li.footer-menu-list-mobile {
                &::after {
                    content: '';
                }
            }
        }
   
    }

    .footer-info-section {
        display: flex;
        justify-content: space-between;
        height: 111px;
        padding-left: 100px;
        padding-right: 100px;
        align-items: center;

        .footer-uclick-logo-info {
            display: flex;

            .footer-company-info {
                padding-left: 50px;
                p {
                    font-size: 12px;
                }
            }
        }

        .footer-language-select {
            margin-bottom: 30px;
        }
        select {
            width: 120px;
        }
    }

}