.ft-wrapper {
    height: auto;
    background-color: $useePrimaryColor;
}

.ft-menu {
    border-bottom: 1px solid $useeDarkBorderColor;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

    ul {
        padding-left: 0;
        overflow: hidden;

        li {
            float: left;
            list-style: none;
            padding-left: 25px;
            font-size: 12px;
            &::after {
                content: '|';
                padding-left: 25px;
            }

            a {
                color: $useeLightTextColor;
            }
        }

        li.ft-menu-last-item {
            &::after {
                content: '';
            }

            a {
                cursor: pointer;
            }
        }
    }
}

.ft-info-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
    color: $useePrimaryTextColor;

    .ft-info {
        display: flex;

        .ft-company-info-wrapper {
            padding-left: 50px;
            p {
                font-size: 12px;
            }
        }
    }

    .ft-lng-select {
        margin-bottom: 30px;
    }
    select {
        width: 120px;
    }
}