.gm-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: auto;
    padding: 10px 0;
    background-color: $useePrimaryColor;

    .gm-navbar {
        max-width: 1020px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .gm-menu {
            display: flex;
            padding-left: 0;

            li {
                list-style: none;
                padding: 0 20px;

                .gm-menu-item {
                    font-size: 18px;
                    cursor: pointer;
                    text-decoration: none;
                    font-weight: bold;
                    color: $useePrimaryTextColor;
                }
            }
        }
    }
}