.gnb-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 30px;
    background-color: $useeSecondaryColor;
    padding-inline: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .gnb-menu {
        display: flex;
        padding-left: 0;
        list-style: none;

        li {
            padding-left: 30px;
            display: none;

            a {
                cursor: pointer;
                text-decoration: none;
                font-weight: normal;
                color: $useePrimaryTextColor;

                &.gnb-menu-active {
                    font-weight: 900;
                }
            }
        }

        li:first-child {
            padding-left: 0px;
        }

        li.gnb-menu-visible {
            display: list-item;
        }
    }
    .gnb-lg {
        font-weight: bold;
        color: $useePrimaryTextColor;
        text-decoration: none;
    }
}
.fa-user {
    margin-right: 10px;
}

.fa-user, .user-welcome-txt {
    color: $useePrimaryTextColor;
}