.nav-wrapper {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    background-color: $useePrimaryColor;

    .nav-menu {
        display: flex;
        padding-left: 0;
        list-style: none;

        li {
            padding-right: 100px;

            a {
                font-size: 16px;
                cursor: pointer;
                text-decoration: none;
                color: $useePrimaryTextColor;

                &.nav-menu-active {
                    font-weight: 900;
                }
            }
        }
        
        li:last-child {
            padding-right: 0px;
        }
    }
}