$useePrimaryColor: #1b1e25;
$useeSecondaryColor: #293140;

$useeBgColor: white;
$useeLightBgColor: #A1C2FF;
$useeTranslucentBgColor: rgba(0, 0, 0, 0.6);
$useeBtnColor: #2642A1;

$useeBorderColor: #CACFD2;
$useeDarkBorderColor: rgba(0, 0, 0, 0.7);

$useePrimaryTextColor: rgba(255, 255, 255, 0.5);
$useeSecondaryTextColor: #b4b7c4;
$useeLightTextColor: white;
$useeDarkTextColor: #333a4d;

$useePrimaryInutColor: white;

$useeHoverBgColor: #A7A7A7;