$useePrimaryColor: #91AEE5;
$useeSecondaryColor: #293140;

$useeBgColor: white;
$useeTranslucentBgColor: rgba(0, 0, 0, 0.6);
$useeBtnColor: #50607F;

$useeBorderColor: #CACFD2;
$useeDarkBorderColor: black;

$useePrimaryTextColor: rgba(255, 255, 255, 0.7);
$useeLightTextColor: white;
$useeDarkTextColor: rgba(0, 0, 0, 0.7);

$useePrimaryInutColor: white;