$useePrimaryColor: #1b1e25;
$useeSecondaryColor: #293140;

$useeBgColor: white;
$useeTranslucentBgColor: rgba(0, 0, 0, 0.6);
$useeBtnColor: #50607F;

$useeBorderColor: #CACFD2;
$useeDarkBorderColor: rgba(0, 0, 0, 0.7);

$useePrimaryTextColor: rgba(255, 255, 255, 0.5);
$useeLightTextColor: white;
$useeDarkTextColor: rgba(0, 0, 0, 0.7);

$useePrimaryInutColor: white;