.rp-form {
    display: inline-block;

    .rp-err-msg {
        margin-block: 7px;
        visibility: hidden;
    }

    .rp-err-msg.active {
        visibility: visible;
    }

    .rp-btn {
        width: 300px;
        height: 40px;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
        margin-top: 8px;
    }
}